*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar{
  /* background-color: aquamarine; */
  margin: auto;
  ul{
    list-style-type: none;
    display: inline-block;
    background-color: gray;
    overflow: hidden;


    li{
      display: inline;
      font-size: 50px;
      /* margin-left: 80px; */
      /* background-color: ; */

      a{
        color: white;
        padding: 15px;
      }
    }
  }
  /* i{
    margin-left: 60px;
    color: gray;
    background-color: gray;
  } */
}

.first-li{
  background-color: chartreuse;
  padding: 15px;
}

.first-li:hover{
  a{
    color: green;
  }
  background-color: white;
}

.second-li{
  margin: 0px 250px
}

